.swiper-button-next{
    color: black !important;
    right: 0px !important;
    justify-content: end !important;
}
.swiper-button-prev{
    color: black !important;
    left: 0px !important;
    justify-content: start !important;
}
.swiper-button-next::after {
    font-size: 30px !important;
}

.swiper-button-prev::after {
    font-size: 30px !important;
}
.swiper-pagination-bullet {
    background: wheat !important;
}

.swiper-pagination-bullet-active{
    background: white !important;
}

@media only screen and (max-width: 1024px) {
    .swiper-button-next {
            color: white !important;
        }
    
        .swiper-button-prev {
            color: white !important;
        }
}